body{
font-family: "微软雅黑";
}
a{
 color: #666!important;
}
a:hover{
 text-decoration: none;
 color: #ddd;
}
ul li{
 list-style: none;
}
.header{
 position: relative;
}
.nav-height{
 padding: 25px 0px;
}
.child-nav li a{
    background:none!important;  
    line-height: 34px;
}
.child-nav li:hover{
    background: #ddd;
}
.navbar-nav>li:hover .dropdown-menu{
    display: block;
     width: 193px;
}
.logo{
 padding: 0;
 margin-top: -28px;
}
.nav-bg{
 background-color: #fbfbfb;
}
.login{
position: absolute;
 top: 6px;
right: 96px;
z-index: 9999;
}
.login ul li{
 float: left;
}
.login ul li a{
 color: #777;
 margin-right: 10px;
 font-size: 13px;
}
.glyphicon{
    margin-right: 10px!important;
}
#navbar a{
 background: url("../images/nav_bg.gif") no-repeat center right;
}
.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}


/*底部*/
footer{
    width: 100%;
    border-top: #ddd 1px solid;
    padding: 15px 0px;
}

@media (max-width: 767px){
    .navbar-default .navbar-brand{
    width: 50%!important;
    }
    .navbar-default .navbar-brand>img{
    max-width: 100%!important;
    margin-top: 30px;
    }
    .nav-height{
    padding: 0px 0px;
    }
    #navbar a{
    background: none;
    }
    .ad{
    margin-top: 50px!important;
    width: 100%;
    }
    .ad ol li{
    cursor: pointer;
    }
    .about,.guestbook,.login-content{
         margin-top: 64px!important;
    }
}